<div class="movies-container">
  <%# Div with name of the list and button to add a new bookmark with a movie %>
  <div class="movie-search">
    <div class="list-title">
      <h2><%= @list.name.upcase %> MOVIES</h2>
    </div>
    <div class="add-movie-button">
      <%= link_to "Add a movie", new_list_bookmark_path(@list), class: "btn btn-danger" %>
    </div>
  </div>

  <%# Displays all the movies selected by the user from TMDB %>
  <div class="row m-5">
    <% @list.movies.each do |movie| %>
    <div class="col-lg-3 m-4 p-0">
      <div class="movie-card-list">
        <img class="movie-card-img-top" src="<%= movie.poster_url %>" alt="Movie Poster">
        <%= link_to "x", list_bookmark_path(@list), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "close-icon" %>
        <div class="movie-card-body">
          <h5 class="movie-card-title"><strong><%= movie.title %></strong></h5>
          <p class="movie-card-text"><%= movie.overview %></p>
          <p class="movie-card-text rating mb-0">
            <%= movie.rating.to_f %>
            <i class="fa-solid fa-star"></i>
          </p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
